<!DOCTYPE html>
<html>
  <head>
  <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur notre site de potins !</h1>
    <p>Voila ! La liste des potins.</p>
    <% gossips.each_with_index do |gossip, index| %>
        <p>
          <a href="/gossips/<%= index %>">
            <%= gossip.author %> :
            "<%= gossip.content %>"
          </a>
        </p>
    <% end %>      
    <p>Vous pouvez vous-meme ajouter un nouveau potin :</p>
    <a href="/gossips/new">Ajouter un nouveau potin</a>
  </body>
</html>
