<!DOCTYPE html>
<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    
    <form action="/gossips/new" method="post">
      <label for="author">Saisi ici ton nom :</label>
      <input type="text" name="author" id="author" required>
      <br>
      <label for="content">Balance ton potin :</label>
      <textarea name="content" id="content" rows="4" required></textarea>
      <br>
      <input type="submit" value="Créer le potin">
    </form>
  </body>
</html>
